{{- $url := .Destination | safeURL -}}
{{- $block := gt (len .Title) 0 -}}
{{- $parsed := urls.Parse $url -}}
{{- $width := $parsed.Query.Get "width" -}}
{{- $height := $parsed.Query.Get "height" -}}
{{- $clickable := $parsed.Query.Get "clickable" -}}

{{- if $block -}}
<span class="image-container"><span class="link">
{{- end -}}
<a target="_blank" rel="noopener noreferrer" 
  {{if $clickable }} href="{{- $url -}}"{{ end }}><img {{ if $block }}class="img"{{ end }} src="{{- $url -}}"
        alt{{- with .Text -}}="{{- . -}}" {{- end -}}
        {{ if $width }} width="{{- $width -}}"{{ end }}
        {{ if $height }} height="{{- $height -}}"{{ end }}/></a>
{{- if $block -}}
</span>
  {{- if ne .Title " " -}}
    <span class="caption"><span class="title">{{- .Title | safeHTML -}}</span></span>
  {{- end -}}
</span>
{{- end -}}